
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row">
    <div class="container">
        <img src="~/img/About.jpg" width="100%" height="auto" />
    </div>
</div>
<br>
<div class="row">
    <div class="container">
        <div class="jumbotron about">
            <h2 class="ptih1">About Us</h2>
            <hr>
            <h4 class="ptih2">  From our page you can design  wallet,keys, dairies, lighter  and many more regular uses things by your own picture  for your very special person
               </h4>
            
            <h2 class="ptih1">Contact Us</h2>
            <hr>
            <h4>
                for order contact with us :
                01686-230909 / 01811803454
            </h4>
        </div>
    </div>
</div>
