
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>Architectural Drawing </h3><br>
    <hr>
    @*<div class="row">

            <h4 id="gifthd">Light Product(Price: 200tk)</h4>
            <br>
        </div>*@
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/dr5.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/dr1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/dr6.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/dr7.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <h3>Architectural Materials</h3><br>
    <hr>
    @*<div class="row">

            <h4 id="gifthd">Light Product(Price: 200tk)</h4>
            <br>
        </div>*@
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/m5.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/m6.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/m3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/m4.jpg" id="giftimg1" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <h3>Architectural Printing</h3><br>
    <hr>
    @*<div class="row">

            <h4 id="gifthd">Light Product(Price: 200tk)</h4>
            <br>
        </div>*@
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/pr1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pr2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pr3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pr4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
