
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>Construction Picture</h3>
    <hr>
    
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Contrustion 1</strong></p><br>
            <img src="~/img/con1.JPEG " alt="Random Name" id="giftimg">
        </div>
        <div class="col-sm-4">
            <p><strong>Contrustion 2</strong></p><br>
            <img src="~/img/con2.JPG" alt="Random Name" id="giftimg">
        </div>
        <div class="col-sm-4">
            <p><strong>Contrustion 3</strong></p><br>
            <img src="~/img/con3.JPG" alt="Random Name"id="giftimg">
        </div>
    </div>
</div>
