@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="row">
    <div class="container">
        <img src="~/img/contact.jpg" width="100%" height="auto" />
    </div>
</div>
<br>
<div class="row">
    <!--//to-bar-->
    <div class="container">
        <div class="contact-info col-md-6 wow fadeInUp">
            <h3 class="contactdetails">Contact Details</h3>
            <hr/>
            <h5>
                For order contact with us :
                01686-230909 / 01811803454
            </h5>
            <p id="contactp">
                Please contact with us for any information or
                message us your comments or any suggestion. Your comments or suggestion is most important for us. Thanks you fro visit our site.
            </p>
           <p>
              
           </p>
        </div>
        @*<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <form id="contact-form" method="post" action="" role="form">

                <div class="form-group">
                    <input placeholder="Your Name" class="form-control" name="name" id="name" type="text" />
                </div>

                <div class="form-group">
                    <input placeholder="Your Email" class="form-control" name="email" id="email" type="email" />
                </div>

                <div class="form-group">
                    <input placeholder="Subject" class="form-control" name="subject" id="subject" type="text" />
                </div>

                <div class="form-group">
                    <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                </div>

                <div id="cf-submit">
                    <input id="contact-submit" class="btn btn-transparent" value="Submit" type="submit" />
                </div>

            </form>
        </div>*@

    </div>
</div>