
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>Gallery</h3><br>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            
            <div class="panel panel-primary">
                <div class="panel-heading">Gift Based</div>
                <div class="panel-body"><img src="~/img/watch1.png" id="giftimg7" alt="Image"></div>
                <div class="panel-footer">
                   
                  <a href="~/Home/Gift" class="btn btn-lg btn-primary">
                      See more
                  </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">Painting</div>
                <div class="panel-body"><img src="~/img/3d3.jpg" id="giftimg7" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Painting" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">Sculpture</div>
                <div class="panel-body"><img src="~/img/scul3.jpg" id="giftimg8" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Sculpture" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
    </div>

<br>
    <div class="row">
      
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Construction</div>
                <div class="panel-body"><img src="~/img/con3.jpg" id="giftimg4" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Construction" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Photography</div>
                <div class="panel-body"><img src="~/img/photo1.jpg" id="giftimg4" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Photography" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Interior Design</div>
                <div class="panel-body"><img src="~/img/in8.jpg" id="giftimg4" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Interior" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
     
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Exterior Design</div>
                <div class="panel-body"><img src="~/img/ex8.jpg" id="giftimg7" alt="Image"></div>
                <div class="panel-footer">
                    <a href="~/Home/Exterior" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Event Management</div>
                <div class="panel-body"><img src="~/img/ev8.png" id="giftimg7" alt="Image"></div>
                <div class="panel-footer">
                    <a href="~/Home/Management" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Planning(Build your dream)</div>
                <div class="panel-body"><img src="~/img/pl2.jpg" id="giftimg1" alt="Image"></div>
                <div class="panel-footer">
                    <a href="~/Home/Planning" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Architectural Drawing</div>
                <div class="panel-body"><img src="~/img/dr5.jpg" id="giftimg7" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Architectural" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Architectural Metarial</div>
                <div class="panel-body"><img src="~/img/m1.jpg" id="giftimg3" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Architectural" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Architectural Printing</div>
                <div class="panel-body"><img src="~/img/pr3.jpg" id="giftimg6" alt="Image"></div>
                <div class="panel-footer">

                    <a href="~/Home/Architectural" class="btn btn-lg btn-primary">
                        See more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div><br>

