@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="container-fluid bg-3 text-center">
    <h3>Gift Based Demo(Send us your design we make it for you)</h3><br>
    <hr>
    <div class="row">
       
            <h4 id="gifthd">Light Product(Price: 200tk)</h4>
      <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/gift.jpg"  id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift01.jpg"  id="giftimg"  alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift02.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift03.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Key ring (engraved photo & letter),Material: wood(Price: 850tk)</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/gift2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift8.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift4.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gift9.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Live with your love with time💝,Material: wood board,Price: 850tk ( engraved photo/letter/word)</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/loveframe3.jpg" id="giftimg0" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/watch1.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/watch2.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/watch3.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Pen with box ( customized your photo/letter & engraved in box ),Price : 550tk</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/pen1.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pen2.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pen3.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/pen4.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Phone back cover (wooden graved)(Price : 550 tk per piece(any size))</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/phone1.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/phone2.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/phone3.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/phone4.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Love frame 💘 ( engraved photo & letter),Material : wood,Price : 500tk</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/love0.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/love1.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/love2.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/love3.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Purse for men & women(photo/ letter engraved on leather ),Price: 550tk</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/wallet1.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/wallet0.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/wallet2.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/wallet3.png" id="giftimg0" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Door name plate ( photo & letter engraved),Material : wood,Price: 500tk</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/door1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/door2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/door3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/door4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Night light Home(Price: 850tk)</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/light1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/light2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/light3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/light4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Diary+ pen = 600tk ( customized your mind color)</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/diary5.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/diary6.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/diary3.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/diary8.png" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Mug( photo & letter engraved)</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/mug1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/mug2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/mug3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/mug4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">Customized lighter with Name, picture and everything!Only Wooden and Metal products!</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/lighter1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/lighter2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/lighter3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/lighter4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <h4 id="gifthd">Table</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/table1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/table2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/table3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/table4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">BEST Quality Products.You can Print(Engraved) your Own Picture,Name or Design.</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/print1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/print2.jpg" id="giftimg2" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/print3.jpg" id="giftimg2" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/print4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <div class="row">

        <h4 id="gifthd">You can design your T-shirt by your choice.Price : 250 only</h4>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/gangi1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gangi2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gangi3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/gangi4.jpg" id="giftimg" alt="Image">
        </div>
       
    </div>
    <hr>
</div>
