
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<body>
    
  

    <div class="row">
        <div class="container">
            <h2 class="pagename">খোদাই আপন মনের রঙ</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                   
                </ol>
                <div class="carousel-inner">
                    <div class="item active sliderimage">
                        <img class="" src="~/img/banner1.jpg"  id="slider1" albt="Chicago">
                    </div>
                    <div class="item  sliderimage">
                        <img src="~/img/banner2.jpg" id="slider1" alt="Los Angeles">
                    </div>
                   
                    <div class="item sliderimage">
                        <img class="img-responsive sliderimage" src="~/img/banner3.jpg"  id="slider1" alt="New york">
                    </div>
                   

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span><span class="sr-only">Previous</span>
                </a><a class="right carousel-control"
                       href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right">
                    </span><span class="sr-only">Next</span>
                </a>
            </div>
            <br>
            <div class="gallery">
                <div class="text-center">
                    <h2>Gallery</h2>
                   
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/watch1.png" alt="" id="giftimg10" />
                            <figcaption>
                                <h4>Gift Based</h4>
                                <p><a href="~/Home/Gift" class="btn btn-lg btn-primary">
                               See more
                              </a></p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/3d3.jpg" alt="" id="giftimg10" />
                            <figcaption>
                                <h4>Painting</h4>
                                <p><a href="~/Home/Painting" class="btn btn-lg btn-primary">
    See more
</a></p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/scul3.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Sculpture</h4>
                                <p><a href="~/Home/Sculpture" class="btn btn-lg btn-primary">
    See more
</a></p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/con3.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Construction</h4>
                                <p><a href="~/Home/Construction" class="btn btn-lg btn-primary">
    See more
</a></p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/photo1.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Photography</h4>
                                <p><a href="~/Home/Photography" class="btn btn-lg btn-primary">
    See more
</a></p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/in8.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Interior Design</h4>
                                <p><a href="~/Home/Interior" class="btn btn-lg btn-primary">
    See more
</a></p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/ex8.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Exterior Design</h4>
                                <p>
                                    <a href="~/Home/Exterior" class="btn btn-lg btn-primary">
                                        See more
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/ev8.png" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Event Management</h4>
                                <p>
                                    <a href="~/Home/Management" class="btn btn-lg btn-primary">
                                        See more
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure class="effect-marley">
                            <img src="~/img/pl2.jpg" alt="" id="giftimg9" />
                            <figcaption>
                                <h4>Planning(Build your dream)</h4>
                                <p>
                                    <a href="~/Home/Planning" class="btn btn-lg btn-primary">
                                        See more
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



@*@section content_jarin{
}*@