@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="container-fluid bg-3 text-center">
    <h3>Interior Design</h3><br>
    <hr>
   
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/in1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in5.png" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in6.jpg" id="giftimg" alt="Image">
        </div>
       
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
   
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/in3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in4.jpeg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in9.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/in8.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<br>