
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>2d Painting</h3><br>
    <hr>
    @*<div class="row">

        <h4 id="gifthd">Light Product(Price: 200tk)</h4>
        <br>
    </div>*@
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/2dpaint3.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/2dpaint.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/2dpaint1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/2dpaint4.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>
<div class="container-fluid bg-3 text-center">
    <h3>3d Painting</h3><br>
    <hr>
    @*<div class="row">

        <h4 id="gifthd">Light Product(Price: 200tk)</h4>
        <br>
    </div>*@
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/3d.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/3d1.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/3d2.jpg" id="giftimg" alt="Image">
        </div>
        <div class="col-sm-3">
            <img src="~/img/3d3.jpg" id="giftimg" alt="Image">
        </div>
    </div>
</div><br>