
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>Photography</h3>
   <hr>
    <br>
    <div class="row">
        <div class="col-sm-4">
            @*<p><strong>Photo 1</strong></p><br>*@
            <img src="~/img/photo1.JPG " alt="Random Name" id="giftimg">
        </div>
        <div class="col-sm-4">
            @*<p><strong>Photo 2</strong></p><br>*@
            <img src="~/img/photo2.JPG" alt="Random Name" id="giftimg">
        </div>
        <div class="col-sm-4">
            @*<p><strong>Photo 3</strong></p><br>*@
            <img src="~/img/photo3.JPG" alt="Random Name" id="giftimg">
        </div>
    </div>
</div>
