
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid bg-3 text-center">
    <h3>Sculpture Design</h3><br>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body"><img src="~/img/scul1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading"></div>
                <div class="panel-body"><img src="~/img/scul2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body"><img src="~/img/scul3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div><br>

<br>